
APPWRITE_ENDPOINT=

APPWRITE_PROJECT_ID=

APPWRITE_DATABASE_ID=

APPWRITE_COLLECTION_ID=

APPWRITE_PAYLOAD_ATTRIBUTE=payload

APPWRITE_API_KEY=

ADMIN_EMAIL=Admin@FireDesign.eu
ADMIN_PASSWORD=Admin2026!
ADMIN_NAME=Administrator
